/* .cards_height{
  height: 300px;
}
.img_height{
  height:270px;
  object-fit: content;
} */
.padindg_category_list{
    padding: 5% 10%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    padding-top: 5%;
    
}

.arrow_category_list{
    color: rgb(3, 3, 3);
    
}

.arrow_category_list:hover{
color: rgb(171, 28, 238);
}

.genders_titles {
    background:
    linear-gradient(
      to right,
      rgb(7, 7, 7),
      rgb(63, 63, 63)
    ),
    linear-gradient(
      to right,
      rgba(182, 95, 236, 0.917),
      rgb(133, 64, 243),
      rgba(81, 1, 202, 0.917)
  );
  background-size: 100% 0.5px, 0 0.5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  }
  .genders_titles:hover {
    background-size: 0 2px, 100% 2px;
  }

  .padindg_search_list{
    padding: 60% 15%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    padding-top: 5%;
}