.gradient-custom-2 {
  /* fallback for old browsers */
  background: rgb(171, 28, 238);
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(46, 200, 243),
    rgb(171, 28, 238)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(46, 200, 243),
    rgb(171, 28, 238)

  );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.text-create-account {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.2rem;
  
}

.h1_title_create_acount{
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    line-height: 1.5;
}

.button_create_user {
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;

  align-items: center;
}
.button_create_user:hover {
  background-color: #e91e63;
  color: #fff;
}

.alert-success {
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  color: #ffffff;
}