.gradient-custom-2 {
  /* fallback for old browsers */
  background: rgb(171, 28, 238);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(46, 200, 243),
    rgb(171, 28, 238)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(46, 200, 243),
    rgb(171, 28, 238)

  );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.text-create-account {
  font-family: "Montserrat-Black", sans-serif;
  
}

.h1_title_create_acount{
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
    background: -webkit-linear-gradient(rgb(74, 225, 245), rgb(174, 48, 237),rgb(252, 0, 29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
