.navbar-color{
    background: rgb(255, 255, 255);
    
                                                
}
.navbar-brand{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.5rem;
}


.fa-user-circle{
    color: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
}

.container-nav{
    padding: 3% 15%;
}

.hover-navbar{

    color: rgb(0, 0, 0);
}

.hover-navbar:hover {
    
    color: rgb(174, 48, 237);
}

a {
    text-decoration: none;
}