.nav-item {
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
}

.navbar-color {
  background: rgb(255, 255, 255);
}
.navbar-brand {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 2.2rem;
  color: rgb(88, 10, 4);
}

.container-nav {
  padding-top: 3% ;
  padding-bottom: 20px;
}

.hover-navbar {
  color: rgb(0, 0, 0);
}

.hover-navbar:hover {
  color: rgb(171, 28, 238);
}

a {
  text-decoration: none;
}

/* menu user */

.fa-user-circle {
  color: rgb(0, 0, 0);
  height: 30px;
  width: 30px;
}

.background_user_dropdown {
  background: -webkit-linear-gradient(rgb(94, 92, 92), rgb(0, 0, 0));
}

.dropdown-item-backgorund {
  color: rgb(254, 253, 255) !important;
}

.dropdown-item-backgorund:hover {
  background: linear-gradient(to bottom, rgb(103, 177, 243), rgb(149, 0, 255));
}

.hidden {
  display: none;
}