.isNightMode {
    background-color: black;
    color:white;
  };

.btn-dark-mode{
    border-radius: 50%;
  }

  .text-day {
    color: black;
    background-color: white;
  }

  
  .text-night {
    color: rgb(255, 255, 255);
    background-color: black;
  }

body.isNightMode h1:not(.nocturno),
body.isNightMode h2:not(.nocturno),
body.isNightMode h3:not(.nocturno),
body.isNightMode h4:not(.nocturno),
body.isNightMode h5:not(.nocturno),
body.isNightMode h6:not(.nocturno),
body.isNightMode hr:not(.nocturno),
body.isNightMode p:not(.nocturno) {
  color: white;
}

body.isNightMode button:not(.nocturno){
    background-color: white;
    color: black;
}

body.isNightMode nav {
    background-color: #000000;
    color: white;
  }

  body.isNightMode .search-night:hover{
    background-color: rgb(255, 124, 2);
    color: white;
  }

  body.isNightMode .navbar-nav li a {
    color: white;
    background-color: #000000;
  }
  body.isNightMode .background_user_dropdown{
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  }
  body.isNightMode .color_night{
    color: rgb(0, 0, 0);
  }

  body.isNightMode .color_night:hover{
    color: rgb(255, 124, 2);
  }
  body.isNightMode .genders_titles {
    background:
      linear-gradient(
        to right,
        rgb(7, 7, 7),
        rgb(63, 63, 63)
      ),
      linear-gradient(
        to right,
        rgb(2, 2, 2),
        rgb(246, 143, 46),
        rgb(255, 124, 2)
      );
    background-size: 100% 0.5px, 0 0.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    color: white; /* Cambia el color del texto a blanco */
  }
  
  body.isNightMode .genders_titles:hover {
    background-size: 0 2px, 100% 2px;
  }


  body.isNightMode .card {
    background-color: rgb(123, 123, 123);
  }

  body.isNightMode .fa-user-circle {
    color: rgba(255, 255, 255, 0.804);
    height: 30px;
    width: 30px;
  }

  body.isNightMode .arrow_category_list{
    color: white;
  }

  body.isNightMode .arrow_category_list:hover{
    color: rgb(255, 124, 2);
  }

  body.isNightMode .icon-footer:hover{
    color: rgb(255, 124, 2);
  }

  body.isNightMode .hover-navbar:hover{
    color: rgb(255, 124, 2);
  }

  body.isNightMode .modal-title#exampleModalLabel {
    color: black;
  }
  
  .modal-body form label.col-form-label[for="username"] {
    color: red !important;
    text-align: left !important;
  }
  
  body.isNightMode .card{
    background-color: white;
  }
  
  body.isNightMode .text_product_page{
    color: black;
  }
  