.container_product_page {
  padding: 7% 8%;
  padding-top: 5%;
  display: flex;

}

.img_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.text_product_page {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.butons_download_avatar{
  padding-top: 8%;
}

.imgs_small{
  display: flex;
}

.avatar_padding{
  padding-left: 0;
}

.card{
  background-color: #d6d3d314;
}

.press {
  color: red;
  font-weight: bold;
  transition: all 0.5s ease;
}