.container_uploadProduct {
    padding: 7% 8%;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    padding-top: 5%;
    font-size: 1.2rem;
  }

  .h3-upload{
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    line-height: 1.5;
    font-size: 1.2rem;
}
.img_upload_sizes{
  height: 150px;
  width: auto;
}